<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>DataForm</title>
</head>
<body style="background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg');opacity: 1; background-repeat: no-repeat; background-size: cover; background-position: center center;">
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-4 "></div>
            <div class="col-md-4 text-center">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 text-light">Enter Flower Specifications</legend>
                        <div class="form-group text-light">
                            {{ form.sepal_length.label(class="form-control-label") }}
                            {% if form.sepal_length.errors %}
                                {{ form.sepal_length(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.sepal_length.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.sepal_length(class="form-control form-control-l") }}
                            {% endif %}
                        </div>
                        <div class="form-group text-light">
                            {{ form.sepal_width.label(class="form-control-label") }}
                            {% if form.sepal_width.errors %}
                                {{ form.sepal_width(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.sepal_width.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.sepal_width(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group text-light">
                            {{ form.petal_length.label(class="form-control-label") }}
                            {% if form.petal_length.errors %}
                                {{ form.petal_length(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.petal_length.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.petal_length(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group text-light">
                            {{ form.petal_width.label(class="form-control-label") }}
                            {% if form.petal_width.errors %}
                                {{ form.petal_width(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.petal_width.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.petal_width(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class = "btn btn-dark") }}
                    </div>
                </form>

            </div>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>